body{
    background: rgb(243, 245, 252);

}

.mensaje{
    display: block;
    font-size: 200%;
    font-weight: bold;
    background: rgb(243, 245, 252);
    margin: 5% 35% 0 10%;
    width: 50%;
    height: 70%;
    border: none;
}

.zonaBaja{
    position: absolute;
    bottom: 2%;
    left: 5%;
    right: 20%;

}

.aclaracion{
    margin: 5% 60% 0 10%;
}

#Encriptado{
    margin: 0 0 0 15%;
}

.btnsEncriptado{
    width: 20%;
    padding: 15px 0;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    background: rgb(216, 223, 232);
    transition: 1s all;
    cursor: pointer;
}

.btnsEncriptado:hover{
    background: rgb(10, 56, 113);
    color: white;
}


.panel-body{
    background: white;
    position: absolute;
    border-radius: 25px;
    right: 2%;
    left: 70%;
    top: 20px;
    bottom: 20px;

}

.respuesta{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 80%;
    border: none;
    font-size: 200%;
    
}


.copiar{
    background: white;
    position: absolute;
    right: 15%;
    bottom: 0.5%;
    width: 60%;
    padding: 15px 0;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    transition: 1s all;
    cursor: pointer;
}

.copiar:hover{
    background: rgb(10, 56, 113);
    color: white;
}

.imagenPanel{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;

}

.msjEncontrado{
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-size: 200%;
    font-weight: bold;

}

.instrucciones{
    position: absolute;
    bottom: 7%;
    left: 5%;
    font-size: 150%;

}

@media screen and (max-width: 480px){

    .mensaje{
        display: block;
        width: 80%;
        height: 70%;
        border: none;
    }

    .zonaBaja{
        position: absolute;
        bottom: 33%;
        width: 90%;
        left: 5%;
        right: 5%;
        width: 90%;
    
    }

    .aclaracion{
        margin: 5% 5% 0 10%;
        font-size: 75%;
    }

    #Encriptado{
        margin: 0 0 0 5%;
    }
    
    .btnsEncriptado{
        width: 40%;
        padding: 15px 0;
        margin: 15px;
        font-size: 12px;
        font-weight: bold;

    }
    

    .panel-body{
        position: absolute;
        border-radius: 25px;
        right: 5%;
        left: 5%;
        top: 70%;
        bottom: 20px;
    }

    .imagenPanel{
        position: absolute;
        top: 20%;
        left: 30%;
        width: 30%;
    }

    .msjEncontrado{
        position: absolute;
        bottom: 25%;
        left: 15%;
        font-size: 100%;
        font-weight: bold;
    
    }

    .instrucciones{
        position: absolute;
        bottom: 3%;
        left: 10%;
        font-size: 75%;
    
    }

    .respuesta{
        position: absolute;
        height: 55%;
        font-size: 200%;
        
    }
    
    
    .copiar{
        position: absolute;
        bottom: 0.1%;
    }
    
}